<!DOCTYPE html>
<html>
    <h2>Send Money</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send</button>
    </form>
    {% if result %}
    <!-- <h3>Receipt</h3>
    <p><strong>To:</strong> {{ result.receiver_name }}({{ result.receiver_email}})</p>
    <p><strong>Sent:</strong> {{ result.amount }} USD</p>
    <p><strong>Fee:</strong> ${{ result.fee }}</p>    
    <p><strong>Exchange Rate:</strong> {{ result.rate }}</p>
    <p><strong>Recieved Amount:</strong> {{ result.final }} {{ result.currency }}</p>
    <p><strong>Time:</strong> {{ result.timestamp }}</p> -->
    <script>
        window.onload = function(){
            document.getElementById('receiptModal').style.display = 'block';
        };
    </script>
    <div id="receiptModal" style="display: none; position: fixed; top: 0; left:0; width: 100%; height: 100%; background-color: aquamarine;">
        <div style="background: white; margin: 10% auto; padding: 20px; width: 400px; border-radius: 8px; position: relative;">
            <span onclick="document.getElementById('receiptModal').style.display='none'" style="position:absolute; top:10px; right:15px; cursor: pointer;">&times;</span>
            <h3>Receipt</h3>
            <p><strong>To:</strong>{{ result.receiver_name }} ({{ result.receiver_email }})</p>
            <p><strong>Sent:</strong>{{ result.amount }} USD</p>
            <p><strong>Fee:</strong>{{ result.fee }} USD</p>
            <p><strong>Exchange Rate:</strong>{{ result.rate }}</p>
            <p><strong>Received:</strong>{{ result.final }} {{ result.currency}} USD</p>
            <p><strong>Time:</strong>{{ result.timestamp|date:"Y-m-d H:i" }}</p>
        </div>
    </div>
    {% endif %}

     <h2>Recent Transactions</h2>
    <table border="1">
        <tr>
            <th>Date</th>
            <th>Receiver</th>
            <th>Amount</th>
            <th>Currency</th>
            <th>Fee</th>
            <th>Received</th>
        </tr>
        {% for t in transactions %}
        <tr>
            <td>{{ t.timestamp|date:"Y-m-d H:i" }}</td>
            <td>{{ t.receiver_name }}</td>
            <td>{{ t.amount_usd }}</td>
            <td>{{ t.currency }}</td>
            <td>{{ t.fee }}</td>
            <td>{{ t.final_amount }} {{  t.currency }}</td>            
        </tr>
        {% empty %}
        <tr><td colspan="6">No transactions yet</td></tr>
        {% endfor %}
    </table>
</html>