<!DOCTYPE html>
<html>
    <h2>Send Money</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send</button>
    </form>
    {% if result %}
    <h3>Receipt</h3>
    <p><strong>To:</strong>{{ result.receiver_name }}({{ result.receiver_email}})</p>
    <p><strong>Sent:</strong>result.amount USD</p>
    <p><strong>Fee:</strong>${{ result.fee }}</p>    
    <p><strong>Exchange Rate:</strong> {{ result.rate }}</p>
    <p><strong>Recieved Amount:</strong> ({{ result.currency }}){{ result.final }}</p>
    <p><strong>Time:</strong>{{ result.timestamp }}</p>
    {% endif %}
</html>